{% extends "layout.html" %}
{% block content %}
  <div class="container text-center">
    <div class="d-flex flex-wrap mt-5">
      <div class="mr-3">
        <h6>Code de la fonction en python</h6>
        <div class="code-img-container">
          <img class="code-img"
            src="https://res.cloudinary.com/isep/image/upload/v1589735727/Screen_Shot_2020-05-17_at_19.15.19_ndumtz.png"
            alt="">
        </div>
        <div class="d-flex justify-content-center">
          <p class="mr-3">Complexité en temps : O(n)</p>
          <p class="ml-3">Complexité en mémoire : O(1)</p>
        </div>
      </div>
      <div class="ml-3 d-flex flex-column align-items-center">
        <h6 class="">Evolution du temps d'exécution en ms en fonction de n</h6>
        <div class="ct-chart ct-perfect-fourth"></div>
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='javascript/sum1_chart.js')}}"></script>
{% endblock content %}